@using BlogApp.Entities;

@{
    ViewData["Title"] = "AddBlog";
}
@model BlogAddRequest
<form method="post" asp-controller="home" asp-action="AddBlog">
    <label>blog adı</label>
    <input asp-for="Title" type="text"  />
    <br />
    <textarea placeholder="içerik" asp-for="Content"></textarea>
    <br />
    <label>Admin</label>
    <input asp-for="AdminId" type="text"  />
    <br />
    <label>kategori</label>
    <select asp-for="CategoryId">
        @foreach (var item in ViewData["categories"] as ICollection<Category>)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <br />
    <button class="btn btn-success" type="submit">Kaydet</button>
</form>

