@{
    ViewData["Title"] = "Home Page";
}
@model ICollection<BlogDisplayResponse>;

<div class="text-center">
    @foreach (var item in Model)
    {
        <div>@item.Id) @item.Title</div>
        <br />
        <div>@item.Content</div>
        <br />
        <br />
    }
</div>
